RaptorContentObjectsSeeder/RaptorContentObjectsSeeder/Service References/RaptorService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RaptorService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RaptorService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AgentDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentJurisdiction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentLicenseNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentRank" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AgentsTotalContentObjectsFound" type="xs:double" />
      <xs:element minOccurs="0" name="AgentsTotalRunTime" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="AgentsTotalURIsFound" type="xs:double" />
      <xs:element minOccurs="0" name="AgentsTotalURIsProcessed" type="xs:double" />
      <xs:element minOccurs="0" name="WorldRunTime" nillable="true" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AgentDetails" nillable="true" type="tns:AgentDetails" />
  <xs:complexType name="UrlError">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UrlError" nillable="true" type="tns:UrlError" />
</xs:schema>